## Exclude R project files
.Rproj.user
.Rhistory
.RData
*.Rproj
*.html
*.md
*.png
*.txt
*.tsv

## Exclude nextflow files
.nextflow*
work/

## Exclude folders with data
data/
docs/
results/
reports/multiQC/

## Exclude Python pyc
*.pyc
