executor {
  name = 'local'
  cpus = 17
  memory = '50 GB'
}

process {
    withName: AlignReads_s1 {
        cpus = 15
        memory = '40.GB'
    }
    withName: AlignReads_s2 {
        cpus = 15
        memory = '40.GB'
    }
    withName: correctBam {
        memory = '20.GB'
    }
}
docker.enabled = true
