executor {
  name = 'local'
  cpus = 17
  memory = '50 GB'
}

process {
    withName: AlignReads_s1 {
        cpus = 15
        memory = '40.GB'
    }
    withName: AlignReads_s2 {
        cpus = 15
        memory = '40.GB'
    }
    withName: correctBam {
        memory = '13.GB'
    }
    withName: markDuplicates {
        memory = '8.GB'
    }
    withName: convertCIGAR {
        memory = '8.GB'
    }
    withName: recalibrateBase {
        memory = '8.GB'
    }

}
docker.enabled = true
